---
sitemap: false
---


/*
  Common Variables

  Feel free to change!
*/

/* FONTS */
$main-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$heading-font: sans-serif;
$regular-font-size: 22px;


/*
  COLOR.

  Make sure to leave color-scheme in config file empty for granular control
*/

$text-color: #454545;
$heading-color: #404040;
$link-color: #841212;

@import "ed";
@import "syntax";

.contacts {
  text-align: center;
  margin: 0;
  padding: 0;
}

.contacts li {
  list-style-type: none;
  display: inline-block;
  width: 100px;
  padding: 20px;
}

.twitter-tweet {
  display: block;
  margin: auto;
}

figure {
  width: 100%;
  margin: auto;
  margin-bottom: 40px;
}

figcaption {
  font-size: .9rem;
  text-align: center;
}

.narrative > h1, .narrative > h2, .narrative > h3 {
  border-bottom: 1px solid;
}

.narrative > h1 {
  font-weight: 300;
  font-size: 40px;
}

.narrative > h2 {
  font-weight: 300;
  font-size: 30px;
}

.narrative > h3 {
  font-weight: 300;
  font-size: 25px;
}
